{%  include "base.html" %}
      {% block title %}Conversation with {{ user.username }}{% endblock %}
      
      {% block content %}
          <h1>Conversation with {{ user.username }}</h1>
          <table>
              {% for message in messages %}
                  <tr>
                      {% if message.message.sender == request.user %}
                          <td style="text-align: right; color: #666;">You:</td>
                          <td style="text-align: right;">{{ message.message.content }}</td>
                      {% else %}
                          <td>{{ message.message.sender.username }}:</td>
                          <td>{{ message.message.content }}</td>
                      {% endif %}
                  </tr>
              {% endfor %}
          </table>
          <form action="" method="post">
              {% csrf_token %}
              <textarea name="content" id="content" cols="30" rows="10"></textarea>
              <button type="submit">Send</button>
          </form>
      {% endblock %}