

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #333; background-image: linear-gradient(to right, #660033, #003366);">
        <a class="navbar-brand" href="{% url 'admin:index' %}" style="color: #fff;">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="flex-direction: row;">
            <li class="nav-item active">
              <a class="nav-link" href="/kall/" style="color: #fff;">Call <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/" style="color: #fff;">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/block/" style="color: #fff;">Block</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/" style="color: #fff;">Home</a>
            </li>
          
          </ul>
        </div>
      </nav>
      <hr>
      {% for message in messages %}
<tr>
    <td>{{ message.message.sender }}</td>
    <td>{{ message.message.content }}</td>
</tr>
{% endfor  %}
</body>
</html>